body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  background: url('/home/gracius/streaming-app/src/img/casque.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat:no-repeat;
  height:100vh;
}
img{
  width: 100%;
  height: 100%;
  margin-bottom: 40px;

}

button{

background-color: rgb(94, 70, 70);
  border-radius: 22px;
  padding: 20px;
  cursor: pointer;
  border: none;
}
button:hover{
  color: #fff;
  font-size: 1.1rem;
  
  }
